.inputContainer {
    border-radius: 15px 15px 0 0;
    background-color: var(--first-color);
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 14px 0 rgb(112 121 153 / 30%);
}

.btn {
    padding: 10px 30px;
    border-radius: 10px;
}