.PriceSide {
    border-left: solid 1px var(--light-blue);
    min-width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-price);
    font-weight: 700;
}