.FlightRoute {
    display: flex;
    width: 100%;
    min-width: 200px;
    max-width: 297px;
    height: 55px;
    flex-direction: column;
    padding-top: 32px;
    color: var(--light-grey);
  
    @media (width <= 895px) {
        display: none;
    }
}

.route {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cityBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    & p {
        margin: 0;
    }
}

.schema {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 4px;
    padding-right: 9px;
    padding-left: 9px;
}

.line {
    width: 100%;
    border-top: solid 1px;
}

.routeTime {
    display: flex;
    width: 100%;
    justify-content: center;
}