.mainSide {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
}

.date {
    padding-top: 40px;
    padding-right: 40px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: var(--dark-grey);
    gap: 8px;
}

.time {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #232323;
}

.text {
    margin: 0;
}

.city {
    font-weight: 600;
}

.flight {
    display: flex;
    height: 55px;
    padding-top: 32px;
    flex-direction: column;
    color: var(--light-grey)
}

.IATA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}