.mainSide {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 27px;
}

.info {
    display: flex;
    flex-direction: row;

    @media (width <= 835px) {
        flex-wrap: wrap;
        padding-bottom: var(--offset);
    }
}

.times {
    padding-top: 25px;
    padding-left: 25px;
}


.dotted {
    border-top: dotted;
    border-top-color: #5C87DB;

    @media (width <= 590px) {
        border: none;
    }
}